@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage{
  background-image: url('../assets/images/maxim-bogdanov-p_9Uzu0Q3C8-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}